<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="col-md-6 mx-auto" style="background: white;">
  <div class="form-inline">
    <span>
      <%= link_to user_path(visitor) do %>
        <%= attachment_image_tag visitor, :profile_image, fallback: "no-image.png",size:'30x30',style: "border-radius: 50%;", class:"image" %>
        <%= visitor.username %>
      <% end %>
      さんが
      <% case notification.action %>
        <% when 'favorite' then %>
          <%= link_to 'あなたの依頼', notification.request, style: "font-weight: bold;" %>を<span style="font-weight: bold;">お気に入り</span>しました
        <% when 'proposal' then %>
          <%= link_to 'あなたの依頼', notification.request, style: "font-weight: bold;" %>に<span style="font-weight: bold;">提案</span>しました
        <% when 'confirm_request' then %>
          <%= link_to 'あなたの提案', notification.request, style: "font-weight: bold;" %>に<span style="font-weight: bold;">確定依頼</span>しました
        <% when 'complete_request' then %>
          <%= link_to 'あなたの依頼', notification.request, style: "font-weight: bold;" %>を<span style="font-weight: bold;">完了</span>しました
        <% when 'complete' then %>
          <%= link_to 'あなたの提案', notification.request, style: "font-weight: bold;" %>を<span style="font-weight: bold;">終了</span>しました   
      <% end %>
    </span>
  </div>
  <div class="small text-muted text-right">
    <%= time_ago_in_words(notification.created_at).upcase %>
  </div>
  <hr></hr>
</div>