<div class="container">
  <h2 class="pb-2 text-center py-4">検索結果</h2>
  <div class="row">
    <% @results.each do |request| %>
      <div class="col-md-6">
        <div class="card mb-3" style="<%= request.confirm? ? 'background-color: #a7aaab' : '' %>">
          <div class="card-body">
            <%= link_to request_path(request) do %>
              <h5 class="card-title textOverflow py-1" style="font-weight: bold;"><%= request.title %></h5>
            <% end %>
            <div class="image mr-2 mb-2">
              <%= attachment_image_tag request.user, :profile_image, fallback: "no-image.png",size:'30x30',style: "border-radius: 50%;"%>
            </div>
            <h6 class="card-subtitle text-muted mb-2 clear"><%= request.user.username %></h6>
            <div style="background: #17a2b8;" class="mb-1 px-1 py-1">                  
              <p class="card-text small" style="color: white;">予算：<%= request.budget %></p>
            </div>
            <div style="background: #17a2b8;" class="mb-1 px-1 py-1">
              <p class="card-text small" style="color: white;">提案数：<%= request.proposals.count %></p>
            </div>
            <div class="text-right">
              <% if current_user.already_favorited?(request) %>
                <% favorite = current_user.favorites.find_by(request_id: request.id) %>
                <%= link_to  request_favorite_path(request, favorite), method: :delete do %>
                <i class="fas fa-heart"></i>
                <%= request.favorites.count %>
                <% end %>
              <% else %>
                <%= link_to request_favorites_path(request), method: :post do%>
                <i class="far fa-heart"></i>
                <%= request.favorites.count %>
                <% end %>
              <% end %>
            </div>
            <div class="row">
              <div class="col-6">
                <% if request.confirm? %>
                  <p style="color: red; font-weight: bold;" class="pt-2">成約済み</p>
                <% end %>
              </div>
                <div class="text-right time pt-2 col-6">
                <%= request.created_at.to_s(:datetime_jp) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
　<%= link_to '依頼一覧に戻る', requests_path, class:"d-flex justify-content-center pb-3" %>
</div>