    <main style="background: #f4f8fa;">
      <div class="container">
        <div class="form-group py-2">
          <%= form_for @proposal, url: request_proposals_path(@request) do |f| %>
            <label for="exampleFormControlTextarea1"><span style="font-weight: bold;"><%= @request.user.username %></span> さんにメッセージを送る</label><br>
            <p>予算：<%= f.number_field :budget, class:"w-25",placeholder:"数字で入力してください" %> 円</p>
            <%= f.text_area :text, class:"form-control w-75 my-2", rows:"15",placeholder:"提案の詳細を入力してください" %>
            <div class="text-center w-75">
              <%= f.submit "提案する", class:"btn btn-info" %>
            </div>
          <% end %>
        </div>
      </div>
    </main>
