<div class="container my-3">
    <div class="text-center">
      <% if @room.request.confirm? %>
        <p class="confirm-msg">この依頼は取引が成立している為、新規で確定依頼のやりとりをすることはできません</p>
      <% end %>
      
      <% if @room.proposal.confirm? && @room.proposal.user == current_user %>
        <div class="complete-alert py-2">
          <p style="color: white;" class="mb-0">依頼を実行完了したら、ボタンを押してください。</p>
          <p id="open" class="mb-0 mx-auto " style="color: white; border-bottom: 1px solid #F7F7F7;">完了の詳細をみる</p>
            <div id="mask" class="hidden"></div>
            <section id="modal" class="hidden">
              <p>依頼を実行完了したことが相手に通知されます。<br>相手が承認すると支払いが実行されます。</p>
              <div id="close">
                閉じる
              </div>
            </section>
            <%= javascript_include_tag('application.js') %>
          <div class="btn btn-secondary mt-2">完了</div>
        </div>
      <% end %>
      
      <p class="my-3" style="font-weight: bold;"><%= @room.request.title %></p>
      <p class="pb-1 mb-0">メッセージの相手：
      <%= attachment_image_tag @room.request.user, :profile_image, fallback: "no-image.png",size:'30x30',style: "border-radius: 50%;"%>
      <span style="font-weight: bold;"><%= @room.request.user == current_user ? @room.proposal.user.username : @room.request.user.username %></span></p>
        <% if @room.request.user == current_user && @room.proposal.proposing? && @room.proposal.request.requesting? %>
          <div class="message-alert mb-4 pt-1">
            <p id="open" class="mb-1 mb-2 mx-auto " style="color: white; border-bottom: 1px solid #F7F7F7;">確定依頼の詳細をみる</p>
            <div id="mask" class="hidden"></div>
            <section id="modal" class="hidden">
              <p>ボタンを押すと、入力した金額での確定依頼メッセージが相手に送信され、<br>それ以降は金額の変更ができなくなります。<br><br>
              相手が提示された金額で承諾をすると取引が成立し、決済が行われます。</p>
              <div id="close">
                閉じる
              </div>
            </section>
            <%= javascript_include_tag('application.js') %>
            
           <%= form_for @room.proposal, url: proposal_confirm_request_path(@room.proposal), method: :patch, remote: false do |f| %>
               <%= f.number_field :last_budget %>円
               <%= f.submit "確定依頼をする", class:"btn btn-info btn-sm" %>
           <% end %>
           
          </div>
        <% end %>
      
    </div>
    
    <% @messages.each do |message| %>
      <% if message.user == current_user %>
        <div class="mb-2 text-item1">
           <p class="text-left"><%= message.text.html_safe %></p>
           <p class="text-right my-0"><%= message.created_at.strftime("%m/%d/%H:%M") %></p>
        </div>
      <% else %>
        <div class="my-3 py-2 text-item2">
          
           <p class="text-left mb-0 px-2"><%= message.text.html_safe %></p>
           <% if message.confirm_request? %>
             <div class="example">
               <%= form_for @room.proposal, url: proposal_confirm_path(@room.proposal), method: :patch, remote: false do |f| %>
                 <%= f.submit '承諾する', class: 'btn btn-info',style:"float:left;", data: { confirm: "承認すると取引が成立し金額の変更ができなくなります。よろしいですか？"} %>
               <% end %>
               <%= form_for @room.proposal, url: proposal_proposing_path(@room.proposal), method: :patch, remote: false do |f| %>
                 <%= f.submit '差し戻す', class: 'btn btn-danger',style:"float:right;", data: { confirm: "差し戻しますか？"} %>
               <% end %>             
             </div>
           <% end %>
               
           <p class="text-right mb-0 px-2 clear"><%= message.created_at.strftime("%Y/%m/%d") %></p> 
           
        </div>
      <% end %>

    <% end %>
    <div class="text-center">
      <%= form_for @message, url: room_messages_path(@room) do |f| %>
        <div class="form-group mb-0">
          <%= f.text_area :text, class:"w-100 px-2", placeholder:"メッセージを入力してください", rows:"5" %>
        </div>
          <%= f.submit "送信する", class:"btn btn-info" %>
      <% end %>
    </div>
</div>